@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
    background-color: #397097;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem;
}

#applicationContainer {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1rem;
    margin: 1rem;
    margin-top: 0;
    text-align: center;
    border-radius: 0.5rem;
}

/* .form{
    
    
    border-radius: 0.3rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} */

.form-container {
    padding: 0;
}

.form input {
    background-color: rgba(0, 0,0, 0.20);
    color: rgba(0, 0,0, 0.15);
    text-align: center;
    border: 0;
    font-size: 20px;
    border-radius: .3rem;
    width: 100%;
    padding-top: .20rem;
    padding-bottom: .20rem;
}

.form input:focus {
    outline: 0;
} 

table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    flex: 1 1 auto;
}

tbody {
    min-width: 100%;
}



tr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}






/* 
* {
    box-sizing: border-box;
}

body {
    background-color: #86bbd8;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #f6ae2d;
    padding: 20px 0;
    min-height: 400px;
    min-width: 800px;
    display: flex;
    border-radius: 5px;
    box-shadow: 4px 4px 5px;
    text-align: center;
    flex-direction: column;
}

.container h1 {
    color: #ee6805;
    padding: 0 20px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input {
    background-color: #c2ac93;
    text-align: center;
    border: 0;
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 10px;
    width: 75%;
}

.form input:focus {
    outline: 0;
}

.chart-container {
    color: #001f3d;
    display: flex;
    justify-content: space-between;

}

.chart-container div {
    width: 50%;
}

.chart-container div h2 {
    font-size: 30px;
}

.chart-container div p {
    font-size: 20px;
    font-weight: bold;
    padding-top: 12px;
    margin: 0;
    border-bottom: 2px #c2ac93 solid;
}

.chart-container div p:last-child{
    border-bottom: 0;
}


 */
